*{
    overflow-y: hidden;
}
body{
    height: 100vh;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz{
    background-color: #ede8e4;
    color: #1D3A42;
    border: 4px solid #5E4630;
    border-radius: 6px;
    padding: 20px;
    max-width: 700px;
    /* margin: 0 auto; */
    text-align: center;
    font-family: 'Grandstander', cursive;
}
.quiz__btn{
    background-color: #b4aa8d;
    color: #FFFFFF;
    padding: 0.75rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.resultscreen{
    display: none;
}
.questionscreen{
    display: none;
}
.answer{
    border: 2px solid #1D3A42;
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
    padding: 0.5rem 1rem;
    margin: 10px auto;
    cursor: pointer;
}
.question__answers{
    list-style-type: none;
    padding-left: 0;
}
.answer--correct{
    background-color: #8BBC98;
}
.answer--wrong{
    background-color: #DA7676;
}
